<head>
    <link href="/public/styles/main.css" rel="stylesheet" type="text/css">
    <link href="/public/styles/navbar.css" rel="stylesheet" type="text/css">
    <title></title>
</head>
<nav>
    <div>
        <a href="/" class="navlink">Home</a>
        <a href="/stations" class="navlink">Stations</a>
        <a href="/routes" class="navlink">Routes</a>
        <a href="/agencies" class="navlink"> Agencies</a>
        <a href="/about" class="navlink">About</a>
        
    </div>
    <div>
        <span id="clock"></span>
    </div>
</nav>

<script>
function updateClock() {
    const now = new Date();
    const options = { hour: '2-digit', minute: '2-digit', second: '2-digit' };
    document.getElementById('clock').textContent = now.toLocaleTimeString([], options);
}
setInterval(updateClock, 1000);
updateClock();
</script>