<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>About</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
        
    </head>
    <body>
        {{> navbar}}
        <section class="section">
            <h1 class="title is-2">About</h1>
            <p class="paragraph">
                Hello this is just a personal project of mine to test my knowledge of coding as well as making public
                transportation easier for people to use.
            </p>
            <a href="/api/overview">Api Overview</a>
        </section>
    </body>
</html>
