<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        <h1>Admin Page</h1>

        <hr />

        <h2>Current GTFS Sources</h2>
        <h2>Current GTFS Sources</h2>
        <table id="sources">
            <thead>
            <tr>
                <th>ID</th>
                <th>Agency Id</th>
                <th>Agency Name</th>
                <th>Agency Url</th>
                <th>Timezone</th>
                <th>Language</th>
                <th>Phone Number</th>
            </tr>
            </thead>
            <tbody>
            {{#each agencies}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.agency_id}}</td>
                <td>{{this.agency_name}}</td>
                <td><a href="{{this.agency_url}}" target="_blank">Click Here</a></td>
                <td>{{this.agency_timezone}}</td>
                <td>{{this.agency_lang}}</td>
                <td>{{this.agency_phone}}</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
        <h2>Upload GTFS ZIP File</h2>
        <form action="/upload-gtfs" method="post" enctype="multipart/form-data">
            <input type="file" name="gtfsFile" accept=".zip" required />
            <button type="submit">Upload</button>
        </form>
    </body>
</html>
