<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        <h1>Admin Page</h1>

        <hr />
        <h2>GTFS Upload History</h2>

        <table id="uploads">
            <thead>
            <tr>
                <th>ID</th>
                <th>Filename</th>
                <th>Uploaded At</th>
            </tr>
            </thead>
            <tbody>
            {{#each uploads}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.filename}}</td>
                <td>{{this.uploaded_at}}</td>
            </tr>
            {{/each}}
            </tbody>
        </table>


        <h2>Upload GTFS ZIP File</h2>
        <form action="/admin/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="gtfsZip" accept=".zip" required />
            <button type="submit">Upload GTFS</button>
        </form>
        {{#if message}}
        <p>{{message}}</p>
        {{/if}}
    </body>
</html>
