<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agencies</title>
</head>
<body>
    <h1>Agencies</h1>
    <a href="/"><- Back</a>
    <table id="agencies">
        <thead>
            <tr>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
            {{#each agencies}}
            <tr>
                <td>
                    <a href="/agencies/{{this.id}}/routes">Routes</a>
                </td>
                <td>
                    <a href="/agencies/{{this.id}}/stops">Stops</a>
                </td>
                <td>{{this.agency_id}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>