<!-- views/departures.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">

</head>
<body>
{{> navbar }}

<main class="container">
  <h2>Departures for Stop {{ stop_name }}</h2>
  <table class="table is-fullwidth">
    <thead>
    <tr>
      <th>Dest</th>
      <th>Route</th>
      <th>Time</th>
    </tr>
    </thead>
    <tbody>
    {{#each departures}}
    <tr>
      <td>{{trip_headsign}}</td>
      <td class="has-text-weight-bold has-text-centered" style="background-color: #{{route_color}}; color: #{{route_text_color}};">
        {{route_long_name}}
      </td>
      <td class="departure-time" data-time="{{departure_time}}">{{departure_time}}</td>
    </tr>
    {{/each}}
    </tbody>
  </table>
  <script>
    function formatToAMPM(timeStr) {
      const [hour, minute] = timeStr.split(":").map(Number);
      const date = new Date(2000, 0, 1, hour, minute);
      return date.toLocaleTimeString("en-US", {
        hour: "numeric",
        minute: "2-digit",
        hour12: true
      });
    }

    document.querySelectorAll(".departure-time").forEach(el => {
      const raw = el.dataset.time;
      el.textContent = formatToAMPM(raw);
    });
  </script>

</main>
</body>
</html>