<!-- views/departures.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/public/styles/departures.css">
</head>
<body>
{{> navbar }}

<main class="container">
  <h2>Departures for Stop {{ stop.stop_name }}</h2>
  <table>
    <thead>
    <tr>
      <th>Trip ID</th>
      <th>Time</th>
      <th>Headsign</th>
      <th>Route</th>
    </tr>
    </thead>
    <tbody>
    {{#each departures}}
    <tr style="background-color: #{{ route_color }}; color: #{{ route_text_color }}">
      <td>{{ trip_id }}</td>
      <td>{{ stop_headsign }}</td>
      <td>{{ trip_headsign }}</td>
      <td>{{ route_short_name }}</td>
      <td>{{departure_time}}</td>
    </tr>
    {{/each}}
    </tbody>
  </table>
  
</main>
</body>
</html>