<!-- views/departures.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/public/styles/departures.css">

</head>
<body>
{{> navbar }}

<main class="container">
  <h2>Departures for Stop {{ stop.stop_name }}</h2>
  <table class="departure-table">
    <thead>
    <tr>

      <th>Dest</th>
      <th>Route</th>
      <th>Time</th>
    </tr>
    </thead>
    <tbody>
    {{#each departures}}
    <tr style="background-color: #{{route_color}}10; border-left: 5px solid #{{route_color}}">

      <td>{{ trip_headsign }}</td>
      <td>{{ route_short_name }}</td>
      <td class="departure-time" data-time="{{departure_time}}"></td>
    </tr>
    {{/each}}
    </tbody>
  </table>
  <script>
    function formatToAMPM(timeStr) {
      const [hour, minute] = timeStr.split(":").map(Number);
      const date = new Date(2000, 0, 1, hour, minute);
      return date.toLocaleTimeString("en-US", {
        hour: "numeric",
        minute: "2-digit",
        hour12: true
      });
    }

    document.querySelectorAll(".departure-time").forEach(el => {
      const raw = el.dataset.time;
      el.textContent = formatToAMPM(raw);
    });
  </script>

</main>
</body>
</html>