<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Inline LA Metro SVG</title>
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <style>
            html,
            body {
                margin: 0;
                padding: 0;
                height: 100%;
            }
            svg {
                width: 100%;
                height: 100%;
            }
        </style>
    </head>
    <body>
        <header>
            <h2>Open Transit Navigator</h2>

            <h3>Maps Currently Available</h3>
            <ul>
                <li>LA Metro</li>
                <li>SF Muni</li>
                <li>BART/CalTrain</li>
            </ul>
        </header>
        <div id="controls">
            <label for="map-select">Select Map:</label>
            <select id="map-select">
                <option value="LAMETRO.svg">LA Metro</option>
                <option value="SFMTA.svg">SF Muni</option>
                <option value="BART.svg">BART</option>
                <!-- Add more maps here -->
            </select>
        </div>
        <svg id="map-svg"></svg>
        <script src="/public/scripts/map.js"></script>
    </body>
</html>
