<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

</head>
<body>

{{> navbar}}
<h1>API Overview</h1>
<table>
    <thead>
        <tr>
            <th>Route</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/api/bikes/stations">Bike Stations</a></td>
        </tr>

    </tbody>

</table>
</body>
</html>