<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>

    </thead>
        <tr>
            <th>Route</th>
            <th>Agency</th>
            <th>Short Name</th>
            <th>Long Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Color</th>
            <th>Text Color</th>
        </tr>
    <tbody>
    {{#each routes}}
    <tr style="background-color: #{{color}}; color: #{{text_color}}">
        <td>{{route_id}}</td>
        <td>{{agency_id}}</td>
        <td>{{short_name}}</td>
        <td>{{long_name}}</td>
        <td>{{description}}</td>
        <td>{{type}}</td>
        <td>{{color}}</td>
        <td>{{text_color}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>
<script>
    window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
</script>
<script defer src="/_vercel/insights/script.js"></script>s
</body>
</html>