<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{station.name}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link href="/styles/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
{{> navbar}}

<br>
<h1 class="title">{{code}}  {{station.name}}</h1>
<p>Code: {{station.code}}</p>
<p>City: {{station.city}}</p>
<p>State: {{station.state}}</p>

<table class="table">
    <thead>
        <tr>
            <th>Station</th>
        </tr>
    </thead>
    <tbody>
    {{#each stations.trains}}
    <tr>
        <td></td>
    </tr>
    {{/each}}
    </tbody>
</table>
</body>
</html>