<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <thead>
        <tr>
            <th>ID</th>
        </tr>
    </thead>

    <tbody>
    {{#each stops}}
    <tr>
        <td>{{stop_id}}</td>
        <td>{{stop_name}}</td>
        <td>{{stop_desc}}</td>
        <td>{{parent_station}}</td>
    </tr>
    </tbody>
    {{/each}}
</table>



<h1>Upload stops.txt</h1>
<form action="/stops/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="csv" accept=".txt,.csv" required>
    <br><br>
    <button type="submit">Upload Stops File</button>
</form>

</body>
</html>