@import url("https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css");
#map {
    height: 500px;
    grid-column: 1 / span 2;
}
html {
    font-family: sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 50% 50%;
    box-shadow: 1px black;
}
.mdi {
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    color: brown;
}
.container div {
    margin: 10px;
    text-align: left;
}
.stop_name {
    font-size: 16px;
    font-weight: bold;
}
#headsign {
    font-size: 16px;
    font-weight: bold;
}
.route_name {
    font-size: 14px;
}
table {
    border: 1px solid black;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
